* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.ui {
    width: 50%;
    height: 750px;
    margin: 1rem auto;
    background: rgb(210, 158, 245);
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.output {
    overflow: scroll;
    height: 90%;
}

.uplord-data {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
}

.prof {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prof img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.prof p {
    color: rgb(92, 43, 226);
}

.reply {
    color: rgb(251, 255, 0);
}

.text {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.message {
    width: 100%;
    font-size: 1.4rem;
}

.time {
    width: 100%;
    font-size: 1rem;
    color: gray;
}

.delete {
    width: 100%;
    font-size: 1rem;
    color: red;
}

.re-btn {
    color: white;
    background: rgb(92, 43, 226);
    border: none;
    width: 40px;
    border-radius: 2px;
}

.good {
    font-size: 1.4rem;
    float: right;
}

.reply-box {
    height: 120px;
}

.reply-box textarea {
    height: 90px;
}

.reply-box p {
    height: 30px;
    text-align: right;
}

.reply-box button {
    height: 30px;
    width: 80px;
    margin-right: 1rem;
}

.btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
}

.btn button {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    background: rgb(206, 165, 245);
    font-size: 1rem;
    color: white;
}

.btn button:hover {
    background: rgb(255, 255, 255);
    color: gray;
}

.text-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    height: 50%;
    padding: 1rem;
    font-size: 1.4rem;
    resize: none;
    color: white;
    background: rgba(162, 99, 221, 0.7);
}

.text-box p {
    height: 50%;
}

.text-box input {
    width: 100px;
    height: 50px;
    font-size: 1rem;
    background: rgb(233, 185, 255);
    color: white;
}

.text-box input:hover {
    background: white;
    color: gray;
}

.out {
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 20px;
    width: 80px;
    background: white;
    border-radius: 3px;
}

.out a {
    display: block;
    font-size: 15px;
    line-height: 20px;
}