* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 1rem 5rem;
    background: azure;
}

h1 {
    height: 10%;
}

.ui {
    width: 100%;
    height: 90%;
    display: flex;
}

.users {
    width: 50%;
    height: 100%;
}

.user-list {
    height: 95%;
    overflow: scroll;
}

.user {
    border: 2px solid black;
    width: 80%;
    margin: 0 1rem 1rem 1rem;
}

summary {
    font-size: 1.5rem;
    border-bottom: 2px solid black;
}

.user img {
    width: 8rem;
    margin: 1rem;
}

table {
    border-collapse: separate;
    border-spacing: 1rem;
}

th {
    text-align: left;
    margin-right: 1rem;
}

.acount {
    width: 80%;
    margin: 0 1rem;
}

.acount a {
    color: blue;
}

.out {
    height: 5%;
    width: 80%;
    margin: 0 1rem;
}

.out a {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background: gray;
}

.time-line {
    width: 50%;
    height: 100%;
    border: 2px solid black;
}

.output {
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.uplord-data {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
}

.prof {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prof img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.prof p {
    color: rgb(92, 43, 226);
}

.reply {
    color: rgb(92, 66, 240);
}

.text {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
}

.message {
    width: 100%;
    font-size: 1.4rem;
}

.time {
    width: 100%;
    font-size: 1rem;
    color: gray;
}

.delete {
    width: 100%;
    font-size: 1rem;
    color: red;
}

.re-btn {
    color: white;
    background: rgb(92, 43, 226);
    border: none;
    width: 40px;
    border-radius: 2px;
}

.good {
    font-size: 1.4rem;
    float: right;
}

.reply-box {
    height: 120px;
}

.reply-box textarea {
    height: 90px;
    width: 100%;
}

.reply-box p {
    height: 30px;
    text-align: right;
}

.reply-box button {
    height: 30px;
    width: 80px;
    margin-right: 1rem;
}

.text-box {
    width: 100%;
    height: 20%;
}

.text-box form {
    height: 100%;
}

.text-box textarea {
    height: 75%;
    width: 100%;
    padding: 1rem;
    resize: none;
}

.text-box button {
    height: 20%;
    width: 100%;
}