* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-align: center;
}

.ui {
    width: 40%;
    height: 750px;
    margin: 1rem auto;
    background: rgb(210, 158, 245);
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}

.clear {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-ui {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    padding: 2rem;
}

p {
    margin: 1rem;
    font-size: 20px;
}

input {
    width: 70%;
    height: 30px;
    font-size: 1rem;
}

.check {
    height: 50px;
}

span {
    color: white;
    font-size: 25px;
}